In [ ]:
import pandas as pd
data = pd.read_csv('aqi.csv')

              date           state          area  \
0       30-04-2025     Maharashtra      Amravati
1       30-04-2025           Bihar        Purnia
2       30-04-2025  Madhya Pradesh         Katni
3       30-04-2025    Chhattisgarh       Tumidih
4       30-04-2025           Assam      Byrnihat
...            ...             ...           ...
235780  01-04-2022           Bihar         Arrah
235781  01-04-2022       Rajasthan        Jaipur
235782  01-04-2022     Maharashtra    Chandrapur
235783  01-04-2022   Uttar Pradesh      Varanasi
235784  01-04-2022          Odisha  Brajrajnagar

        number_of_monitoring_stations prominent_pollutants  aqi_value  \
0                                   2                 PM10         78
1                                   1                   CO         56
2                                   1                   O3         98
3                                   1                 PM10        103
4                                   1                PM2.5         61
...                               ...                  ...        ...
235780                              1                 PM10        210
235781                              3           PM2.5,PM10        158
235782                              2                PM2.5        201
235783                              4                 PM10        128
235784                              1                   O3        270

       air_quality_status                                               unit  \
0            Satisfactory  number_of_monitoring_stations in Absolute Numb...
1            Satisfactory  number_of_monitoring_stations in Absolute Numb...
2            Satisfactory  number_of_monitoring_stations in Absolute Numb...
3                Moderate  number_of_monitoring_stations in Absolute Numb...
4            Satisfactory  number_of_monitoring_stations in Absolute Numb...
...                   ...                                                ...
235780               Poor  number_of_monitoring_stations in Absolute Numb...
235781           Moderate  number_of_monitoring_stations in Absolute Numb...
235782               Poor  number_of_monitoring_stations in Absolute Numb...
235783           Moderate  number_of_monitoring_stations in Absolute Numb...
235784               Poor  number_of_monitoring_stations in Absolute Numb...

        note
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
235780   NaN
235781   NaN
235782   NaN
235783   NaN
235784   NaN

[235785 rows x 9 columns]

In [ ]:
df = pd.DataFrame(data)
df.drop_duplicates(inplace=True)
columns = df.columns.tolist()
print(f"Columns in the dataset: {columns}")
print(df["state"].unique())

Columns in the dataset: ['date', 'state', 'area', 'number_of_monitoring_stations', 'prominent_pollutants', 'aqi_value', 'air_quality_status', 'unit', 'note']
['Maharashtra' 'Bihar' 'Madhya Pradesh' 'Chhattisgarh' 'Assam' 'Manipur'
 'Kerala' 'West Bengal' 'Odisha' 'Karnataka' 'Gujarat' 'Uttarakhand'
 'Tamil Nadu' 'Andhra Pradesh' 'Rajasthan' 'Uttar Pradesh' 'Punjab'
 'Mizoram' 'Chandigarh' 'Telangana' 'Puducherry' 'Meghalaya'
 'Himachal Pradesh' 'Jharkhand' 'Haryana' 'Arunachal Pradesh' 'Nagaland'
 'Tripura' 'Delhi' 'Andaman and Nicobar Islands' 'Sikkim'
 'Jammu and Kashmir']

In [ ]:
for sate in df['state'].unique():
    state_data = df[df['state'] == sate]
    avg_aqi = state_data['aqi_value'].mean()
    round_aqi = round(avg_aqi , 2)
    print(f"Average AQI for {sate}: {round_aqi}")

Top 10 most polluted cities based on AQI:              date           state           area  \
174386  04-04-2023  Andhra Pradesh     Vijayawada
179558  10-03-2023  Madhya Pradesh         Ujjain
48822   07-10-2024         Manipur         Imphal
179706  09-03-2023  Madhya Pradesh         Ujjain
196221  10-12-2022       Karnataka          Gadag
129114  03-11-2023   Uttar Pradesh  Greater Noida
38137   18-11-2024           Delhi          Delhi
128988  04-11-2023   Uttar Pradesh  Greater Noida
192656  30-12-2022           Bihar          Siwan
158116  23-06-2023       Meghalaya       Shillong

        number_of_monitoring_stations prominent_pollutants  aqi_value  \
174386                              1                PM2.5        500
179558                              1                PM2.5        500
48822                               1                PM2.5        500
179706                              1                PM2.5        500
196221                              1                 PM10        500
129114                              2                PM2.5        494
38137                              36                PM2.5        494
128988                              2                PM2.5        490
192656                              1                PM2.5        488
158116                              1                 PM10        484

       air_quality_status                                               unit  \
174386             Severe  number_of_monitoring_stations in Absolute Numb...
179558             Severe  number_of_monitoring_stations in Absolute Numb...
48822              Severe  number_of_monitoring_stations in Absolute Numb...
179706             Severe  number_of_monitoring_stations in Absolute Numb...
196221             Severe  number_of_monitoring_stations in Absolute Numb...
129114             Severe  number_of_monitoring_stations in Absolute Numb...
38137              Severe  number_of_monitoring_stations in Absolute Numb...
128988             Severe  number_of_monitoring_stations in Absolute Numb...
192656             Severe  number_of_monitoring_stations in Absolute Numb...
158116             Severe  number_of_monitoring_stations in Absolute Numb...

        note
174386   NaN
179558   NaN
48822    NaN
179706   NaN
196221   NaN
129114   NaN
38137    NaN
128988   NaN
192656   NaN
158116   NaN

In [21]:
df.info()
print("------------------------------------------")
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235785 entries, 0 to 235784
Data columns (total 9 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   date                           235785 non-null  object
 1   state                          235785 non-null  object
 2   area                           235785 non-null  object
 3   number_of_monitoring_stations  235785 non-null  int64
 4   prominent_pollutants           235785 non-null  object
 5   aqi_value                      235785 non-null  int64
 6   air_quality_status             235785 non-null  object
 7   unit                           235785 non-null  object
 8   note                           0 non-null       float64
dtypes: float64(1), int64(2), object(6)
memory usage: 16.2+ MB
------------------------------------------

       number_of_monitoring_stations      aqi_value  note
count                  235785.000000  235785.000000   0.0
mean                        1.870653     111.127294   NaN
std                         3.071575      71.447353   NaN
min                         1.000000       3.000000   NaN
25%                         1.000000      59.000000   NaN
50%                         1.000000      92.000000   NaN
75%                         1.000000     142.000000   NaN
max                        40.000000     500.000000   NaN

In [22]:
df.isnull().sum()

date                                  0
state                                 0
area                                  0
number_of_monitoring_stations         0
prominent_pollutants                  0
aqi_value                             0
air_quality_status                    0
unit                                  0
note                             235785
dtype: int64